[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python-dotenv = "*"
telethon = "*"
python-dateutil = "*"
pytimeparse = "*"

[requires]
python_version = "3.9"
